<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo">adminPro</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="">Messages <span class="new badge">4</span></a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

 <!-- Dropdown Content -->
 <ul id='dropdown1' class='dropdown-content'>
   <li><a>one</a></li>
   <li><a>two</a></li>
   <li class="divider"></li>
   <li><a (click)="_usuarioService.logout()">Log out</a></li>
 </ul>



